## files that should also be in .rsyncignore because they should not be copied over by the build process
# files that Django creates but we don't use
db.sqlite3

# secure files that should not be in the repository
/.env
/database.cnf
deploy/.env

##files that should NOT be in .rsyncignore because the SHOULD be copied over by the build process
# Byte-compiled / optimized / DLL files, part of the build process
api/__pycache__/
djangoproject/__pycache__/
djangoproject/settings/__pycache__/
toptenlists/__pycache__/
toptenlists/migrations/__pycache__/
toptenlists/tests/__pycache__/
users/__pycache__/
users/migrations/__pycache__/
users/tests/__pycache__/

# build output files
assets/
static/

# note that at present, migrations are created on the dev machine and copied to the live server, so they are tracked. The lines below are there for reference in case we need to revert.
# /api/migrations
# /toptenlists/migrations
# /users/migrations
