@import "../variables";

.editable-text-field {
	input {
		padding: 6px 12px;
	}

	span {
		display: inline-block;
		padding: 6px 0;
	}

	.placeholder {
		color: $color-placeholder;
	}

	.btn-primary {
		margin-left: 8px;
	}
}
