@import "../variables";

.item-header {
	div {
		&.editable-text-field {
			margin-left: 1.5em;
		}
	}
}

.item-body {
	clear: both;
}

.item-container {
	border: 1px solid $color-panel-border;
	border-radius: 8px;
	margin: 0 8px 8px 0;
	overflow: hidden;
	padding: 8px;

	.item-header {
		font-weight: bold;

		.editable-text-field {
			float: left;
			margin-left: 1.5em;

			&.editing {
				float: none;
			}
		}
	}

	// hide label but leave contents visible and entire label still readable
	label {
		border: 0;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		padding: 0;
		position: absolute;
		width: 1px;
	}

	.order {
		float: left;
		margin-right: 8px;
		padding: 6px 0;
	}

	button {
		&.create-childlist {
			float: right;
		}
	}

	.child-list {
		float: right;
		padding: 6px 0;
	}
}
