@import "../variables";

.organizer-list {
	.show-items {
		float: left;
		width: 36px;
	}

	.name {
		display: inline-block;
		font-weight: bold;
		margin-left: 12px;
		padding: 6px 0;
	}

	.items {
		margin-left: 56px;
	}

	.item {
		display: inline-block;
		width: 100%;

		& > span {
			background: $color-organizer-item-background;
			color: $color-organizer-item-text;
			float: left;
			padding: 6px 12px;

			.order {
				display: inline-block;
				padding: 0;
				width: 1.5rem;
			}
		}

		&.selected {
			& > span {
				border: 1px solid $color-organizer-item-selected;
				border-radius: 1rem;
			}
		}
	}
}
