@import "../variables";

.toptenitem-header {
	font-weight: bold;

	.editable-text-field {
		margin-left: 30px;

		&.editing {
			float: none;
		}

		.placeholder {
			display: inline-block;
			padding: 6px 0;
		}
	}
}

.toptenitem-body {
	clear: both;
}

.toptenitem-container {
	border: 1px solid $color-panel-border;
	border-radius: 8px;
	margin: 0 8px 8px 0;
	overflow: hidden;
	padding: 8px;

	// hide label but leave contents visible and entire label still readable
	label {
		border: 0;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		padding: 0;
		position: absolute;
		width: 1px;
	}

	.order {
		float: left;
		margin-right: 8px;
		padding: 6px 0;
	}

	button {
		&.create-childtoptenlist {
			float: right;
			margin-bottom: 10px;
		}

		&.move-up {
			margin-right: 6px;
		}
	}

	.child-toptenlist {
		float: right;
		padding: 6px 0;
	}
}
