@import "../variables";

.create-toptenlist {
	.toptenlist-name {
		label {
			font-weight: bold;
		}
	}

	.toptenitem-name {
		label {
			font-weight: bold;
		}
	}

	.reusable-item {
		border: 1px solid $color-reusableitem-border;
		border-radius: 10px;
		margin: 10px 0 10px 0;
		padding: 10px;

		.icon {
			margin-right: 10px;
		}
	}

	.combobox-dropdown {
		.icon {
			margin-right: 0.5rem;
		}

		.definition {
			color: $color-dropdown-definition;
			display: block;
			height: 1.5rem;
			margin-left: 1.5rem;
			overflow: hidden;
		}
	}

	.btn-primary {
		margin-left: 8px;
	}

	.toptenlist-description {
		label {
			border: 0;
			clear: both;
			clip: rect(0 0 0 0);
			height: 1px;
			margin: -1px;
			padding: 0;
			position: absolute;
			width: 1px;
		}
	}

	.toptenitem-description {
		margin-top: 8px;

		label {
			border: 0;
			clear: both;
			clip: rect(0 0 0 0);
			height: 1px;
			margin: -1px;
			padding: 0;
			position: absolute;
			width: 1px;
		}
	}

	.hint {
		color: $color-hint;
		font-size: 0.8rem;
	}
}
