.create-topTenList {
	.topTenList-name {
		label {
			font-weight: bold;
		}
	}

	.topTenItem-name {
		label {
			font-weight: bold;
		}
	}

	.btn-primary {
		margin-left: 8px;
	}

	.topTenList-description {
		label {
			border: 0;
			clear: both;
			clip: rect(0 0 0 0);
			height: 1px;
			margin: -1px;
			padding: 0;
			position: absolute;
			width: 1px;
		}
	}

	.topTenItem-description {
		margin-top: 8px;

		label {
			border: 0;
			clear: both;
			clip: rect(0 0 0 0);
			height: 1px;
			margin: -1px;
			padding: 0;
			position: absolute;
			width: 1px;
		}
	}
}
