@import "../variables";

.list-detail-controls {
	float: right;

	.is-public {
		float: left;
	}

	.btn-danger {
		float: left;
		margin-left: 8px;
	}
}

.list-detail {
	.list-name {
		// hide label but leave contents visible and entire label still readable
		label {
			border: 0;
			clip: rect(0 0 0 0);
			height: 1px;
			margin: -1px;
			padding: 0;
			position: absolute;
			width: 1px;
		}

		span {
			font-size: 1.5rem;
			font-weight: bold;

			&.hint {
				font-size: 1rem;
				font-weight: normal;
			}
		}
	}

	.list-description {
		// hide label but leave contents visible and entire label still readable
		label {
			border: 0;
			clip: rect(0 0 0 0);
			height: 1px;
			margin: -1px;
			padding: 0;
			position: absolute;
			width: 1px;
		}
	}

	.privacy-warning {
		color: $color-privacy-warning;
	}
}
