@import "../variables";

.list-detail-controls {
	float: right;

	.is-public {
		float: left;
	}

	.btn-danger {
		float: left;
		margin-left: 8px;
	}
}

.list-detail {
	display: flex;
	justify-content: center;

	> div {
		@media (min-width: 992px) {
			max-width: 720px;
		}

		width: 100%;
	}

	.breadcrumbs {
		float: left;
	}

	.hint {
		color: $color-hint;
	}

	.list-organizer {
		float: left;
		margin-left: 8px;
	}

	.list-name {
		// hide label but leave contents visible and entire label still readable
		label {
			border: 0;
			clip: rect(0 0 0 0);
			height: 1px;
			margin: -1px;
			padding: 0;
			position: absolute;
			width: 1px;
		}

		.editable-text-field {
			float: left;
		}

		span {
			font-size: 1.5rem;
			font-weight: bold;

			&.hint {
				font-size: 1rem;
				font-weight: normal;
			}
		}
	}

	.list-description {
		max-height: none;

		// hide label but leave contents visible and entire label still readable
		label {
			border: 0;
			clear: both;
			clip: rect(0 0 0 0);
			height: 1px;
			margin: -1px;
			padding: 0;
			position: absolute;
			width: 1px;
		}
	}

	.privacy-warning {
		color: $color-privacy-warning;
	}
}
