@import "../variables";

.reusableitem-detail {
	h2 {
		font-size: 1.5rem;

		.icon {
			margin-right: 8px;
		}
	}

	h3 {
		font-size: 1.3rem;
	}

	.about {
		float: left;
	}

	.help-icon {
		float: right;

		button {
			border: 0;
			margin-left: 8px;
			padding: 0;
		}
	}
}
