
// for use in components
$color-valid: #28a745;
$color-invalid: #dc3545;

$color-panel-border: #999;

$color-placeholder: #aaa;

// horizontal selector
$color-selector-border: #424a6c;
$color-selector-text: #424a6c;
$color-selector-background-text: #fff;
$color-selector-text-selected: #fff;
$color-selector-background-selected: #424a6c;
